.btn,
.jumbotron,
.nav :hover {
	border-radius: 0px;
}

body {
  background: #343a40;
  font-size: 0.9rem;
}

.gradient{
/* background: #77A1D3;  fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/* background: #314755;  fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #26a0da, #314755);  Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #26a0da, #314755); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/*background: #2193b0;  fallback for old browsers
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #6dd5ed, #2193b0); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #cc2b5e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Links on the button including collapsable-card-header */
.btn-link{
  display: flex;
  text-decoration: none;
  color:grey;
  text-decoration: none;
  border-radius: 5px;
}
.btn-link:focus,
.btn-link:hover{
  text-decoration: none;
}
.btn-link span {
  width: 7rem;
}

/* Font awesome Icon Default styling */
.fa-angle-up{
  transform: rotate(180deg);
  font-size: 2rem;
  color: lightgrey; /* Bootstrap info color*/
  transition: transform 200ms ease-in;
}

.collapsed .fa-angle-up{
  color: lightgrey;
  transform: rotate(90deg);
}