# Dependency Directories
projbackend/node_modules
testback/node_modules

# dotenv environment variables file
.env

#removed to avoid copyright issues
tshirt/1.jpg
tshirt/2.jpg
tshirt/3.jpg
tshirt/4.jpg
tshirt/5.jpg
tshirt/6.jpg
tshirt/7.jpg
tshirt/8.jpg
tshirt/9.jpg
tshirt/10.jpg
tshirt/11.jpg